<div class="row">
    <div class="col-md-12">
        <div class="row scrollingdiv" style="height: 81.5vh; padding-top: 20px;" id="anchor">
            <div *ngFor="let message of messages" id="papa" [ngClass]="[message.isIncoming ? 'col-md-12 text-right' : 'col-md-12 text-left']">
                <div *ngIf="message.isIncoming; else NoIncoming">
                    <label class="messagesend text-left">
                        {{message.text}}
                    </label>
                </div>

                <ng-template #NoIncoming>
                    <img src="{{image}}" class="rounded-circle imagemessagereceived">
                    <label class="messagereceived text-left">
                        {{message.text}}
                    </label>
                </ng-template>

            </div>
            <!-- <div class="col-md-12 text-center">
                <label class="date">
                    <b>10:50 A.M.</b>
                </label>
            </div> -->
            <!-- <div class="row">
                <img src="{{image}}" class="rounded-circle text-right" style="height: 10px; width: 10px; margin-bottom: 40px;">    
            </div> -->
        </div>

        <div class="row" style="height: 10%;">
            <div class="col-md-7" style="padding-top: 25px; margin-top: -19px;">
                <input type="text" style="width: 100%; font-size: 14px; height: 30px;" placeholder="Escibe un mensaje agrega @nombre" (keyup.enter)="postMessage()"
                    [(ngModel)]="texto">
            </div>
            <div class="col-md-5" style="color: gray; padding-top: 15px;">
                <span>
                    <i class="fa fa-image"></i>
                </span>
                <span>
                    <i class="fa fa-microphone"></i>
                </span>
                <span>
                    <i class="fa fa-image"></i>
                </span>
                <span>
                    <i class="fa fa-microphone"></i>
                </span>
                <span>
                    <i class="fa fa-image"></i>
                </span>
                <span>
                    <i class="fa fa-microphone"></i>
                </span>
            </div>
        </div>
    </div>