<div class="row">
    <div class="col-md-12">
        <div class="row scrollingdiv" style="height: 81.5vh; padding-top: 20px;">

            <div *ngFor="let message of messages" [ngClass]="[message.isIncoming ? 'col-md-12 text-right' : 'col-md-12 text-left']">
                <div *ngIf="message.isIncoming; else NoIncoming">
                    <label class="messagesend text-left">
                        {{message.text}}
                    </label>
                </div>

                <ng-template #NoIncoming>
                    <img src="http://www.conejos.wiki/Imagenes/imagen-de-un-conejo-enano.jpg" class="rounded-circle imagemessagereceived">
                    <label class="messagereceived text-left">
                            {{message.text}}
                    </label>
                </ng-template>

            </div>
            <!-- Close *ngFor -->

            <div class="col-md-12 text-center">
                <label class="date">
                    <b>12:40 A.M.</b>
                </label>
            </div>

            <div class="row" style="height: 10%;">

                <div class="col-md-7" style="padding-top: 25px; margin-top: -19px;">
                    <input type="text" style="width: 100%; font-size: 14px; height: 30px;" placeholder="Escibe un mensaje agrega @nombre">
                </div>

                <div class="col-md-5" style="color: gray; padding-top: 15px;">
                    <span>
                        <i class="fa fa-image"></i>
                    </span>
                    <span>
                        <i class="fa fa-microphone"></i>
                    </span>
                    <span>
                        <i class="fa fa-image"></i>
                    </span>
                    <span>
                        <i class="fa fa-microphone"></i>
                    </span>
                    <span>
                        <i class="fa fa-image"></i>
                    </span>
                    <span>
                        <i class="fa fa-microphone"></i>
                    </span>

                </div>
            </div>
        </div>
    </div>