<div class="row">
    <div class="col-md-12">
        <div class="row scrollingdiv" style="height: 584px; padding-top: 20px; border: .2px solid rgb(199, 199, 199);">
            <div class="col-md-12 text-right">
                <label class="messagesend text-left">
                    aaaaaaaaaaa
                </label>
            </div>
            <div class="col-md-12 text-left">
                <img src="http://www.conejos.wiki/Imagenes/imagen-de-un-conejo-enano.jpg" class="rounded-circle imagemessagereceived">
                <label class="messagereceived text-left">
                    aaaaaaaaaaa
                </label>
            </div>
            <div class="col-md-12 text-center">
                <label class="date">
                    <b>10:50 A.M.</b>
                </label>
            </div>
            <div class="col-md-12 text-left">
                <img src="http://www.conejos.wiki/Imagenes/imagen-de-un-conejo-enano.jpg" class="rounded-circle imagemessagereceived">
                <label class="messagereceived text-left">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                    from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College
                    in Virginia
                </label>
            </div>
            <div class="col-md-12 text-center">
                <label class="date">
                    <b>12:40 A.M.</b>
                </label>
            </div>
            <div class="col-md-12 text-right">
                <label class="messagesend text-left">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                    from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College
                    in Virginia s old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia
                </label>
            </div>
            <div class="col-md-12 text-right">
                <label class="messagesend text-left">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                </label>
            </div>
            <div class="col-md-12 text-left">
                <img src="http://www.conejos.wiki/Imagenes/imagen-de-un-conejo-enano.jpg" class="rounded-circle imagemessagereceived">
                <label class="messagereceived text-left">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classica Virginia
                </label>
            </div>
            <div class="col-md-12 text-right">
                <label class="messagesend text-left">
                    Contrary to pomaking it over 2000
                </label>
            </div>
            <div class="col-md-12 text-right">
                <label class="messagesend text-left">
                    Contrary
                </label>
            </div>
            <div class="col-md-12 text-right">
                <label class="messagesend text-left">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                </label>
            </div>
            <div class="col-md-12 text-left">
                <img src="http://www.conejos.wiki/Imagenes/imagen-de-un-conejo-enano.jpg" class="rounded-circle imagemessagereceived">
                <label class="messagereceived text-left">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classica Virginia
                </label>
            </div>
        </div>
        <div class="row" style="height: 10%;">
            <div class="col-md-7" style="padding-top: 25px; margin-top: -19px;">
                <input type="text" style="width: 100%; font-size: 14px; height: 30px;" placeholder="Escibe un mensaje agrega @nombre">
            </div>
            <div class="col-md-5" style="color: gray; padding-top: 15px;">
                <span><i class="fa fa-image"></i></span>
                <span><i class="fa fa-microphone"></i></span>
                <span><i class="fa fa-image"></i></span>
                <span><i class="fa fa-microphone"></i></span>
                <span><i class="fa fa-image"></i></span>
                <span><i class="fa fa-microphone"></i></span>
            </div>
        </div>
    </div>
</div>