.row {
  /*border-style: solid;*/
}

.columna1 {
  padding-right: 10px;
  padding-left: 10px;
  .imgIcon {
    width: 30px;
    height: 30px;
  }

  .navigation {
    flex-wrap: initial;
  }

  .nav-item {
    margin-left: 30%;
  }

  .fila1 {
    display: flex;
  }

  .PE1 {
    text-align: left;
  }

  .PE2 {
    text-align: center;
  }

  .PE3 {
    text-align: right;
  }

  .messFont {
    flex-basis: 100%;
    font-size: 16px;
    font-weight: 500;
    margin: 7px 0 0;
    overflow: hidden;
    text-align: center;
  }

  .chatWindow {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
  }

  .chatWindow:hover {
    background-color: rgb(238, 237, 237);
    cursor: pointer;
  }

  .chatWindow:active {
    background-color:  rgb(32, 82, 248);
    color: white;
  }

  .colWindow {
    display: flex;
  }

  .imgChat {
    height: 45px;
    width: 45px;
  }

  .pNombre {
    overflow: hidden;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .contenedorChats {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 210%;
    padding-top: 10px;
    padding-bottom: 20px;
    -ms-overflow-style: none;
  }

  .fa-cog {
    font-size: 24px;
    color:  rgb(32, 82, 248);
  }
  .icon :hover {
    font-size: 27px;
    margin-left: -1px;
    margin-top: -1px;
    cursor: pointer;
  }

  .fa-edit {
    font-size: 24px;
    color:  rgb(32, 82, 248);
    padding-top: 1px;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .online {
    height: 10px;
    width: 10px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 6px;
  }

  .buscarChat {
    margin-top: 10px;
  }
}
