<div class="row">
  <div class="columna1 col-12 ">

    <!--Nuevo Row-->
    <div class="row">
      <div class="fila1 col-12">

        <!--NAV-->
        <div class="col-2">
          <p class="PE1">
            <i class="fa fa-cog iconosss"></i>
            <!--NAV<img src="https://cdn3.iconfinder.com/data/icons/messenger-flat/128/16_Setting-512.png" class="imgIcon" alt="Cinque Terre">-->
          </p>
        </div>
        <div class="col-8">
          <h1 class="messFont">Messenger</h1>
        </div>
        <div class="col-2">
          <p class="PE3">
              <i class="fa fa-comment"></i>
             <!--NAV <img src="https://cdn.iconscout.com/public/images/icon/premium/png-512/chatting-new-message-chat-messenger-sms-bubble-3e287c90ef100f07-512x512.png"
              class="imgIcon" alt="Cinque Terre">-->
          </p>
        </div>
        <!--NAV-->
      </div>
    </div>

    <hr>
    <!--Nuevo Row-->
    <div class="row">
      <div class="col-12">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </div>
    </div>

    <!--Nuevo Row contenedor de los chats previews e imagenes-->
    <div class="contenedorChats row">
      <div class="col-12">

        <!--Nuevo Row contenedor de cada chat preview-->
        <div class="chatWindow row">
          <div class="colWindow col-12">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Standaard_Nederlandsche_SS.svg/1200px-Standaard_Nederlandsche_SS.svg.png"
              class="rounded-circle imgChat col-3 " alt="Cinque Terre">
            <div class="pNombre col-7">

              <div class="row">
                <div class="col-12">
                  <p class="pNombre col-12" style="font-weight: bold;">Alejandro Ramirez Perez</p>
                  <p class="pNombre col-12" style="color:gray;">Alejandro: Entonces vas a ir o no? </p>
                </div>
              </div>

            </div>
            <!--Hora-->

            <div class="col-2">
              <p class="pNombre ">13:35</p>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Standaard_Nederlandsche_SS.svg/1200px-Standaard_Nederlandsche_SS.svg.png"
                class="rounded-circle" alt="Cinque Terre" style="width:20px; height: 20px;">
            </div>

          </div>
        </div>
        <!--Termina template-->

        <!--Nuevo Row contenedor de cada chat preview-->
        <div class="chatWindow row">
          <div class="colWindow col-12">
            <img src="https://scontent.fntr3-1.fna.fbcdn.net/v/t1.0-9/32190864_10211219795482847_2511174434878914560_n.jpg?_nc_cat=0&oh=20368d5119b5ab7efde4f4d6b20c04bd&oe=5BD13EF1"
              class="rounded-circle imgChat col-3 " alt="Cinque Terre">
            <div class="pNombre col-7">

              <div class="row">
                <div class="col-12">
                  <p class="pNombre col-12" style="font-weight: bold;">Adrian Ruvalcaba Garcia</p>
                  <p class="pNombre col-12" style="color:gray;">Tu: Cuando regresas? </p>
                </div>
              </div>

            </div>
            <!--Hora-->
            <div class="col-2">
              <p class="pNombre ">13:35</p>
              <img src="https://scontent.fntr3-1.fna.fbcdn.net/v/t1.0-9/32190864_10211219795482847_2511174434878914560_n.jpg?_nc_cat=0&oh=20368d5119b5ab7efde4f4d6b20c04bd&oe=5BD13EF1"
                class="rounded-circle" alt="Cinque Terre" style="width:20px; height: 20px;">
            </div>

          </div>
        </div>
        <!--Termina template-->

        <!--Nuevo Row contenedor de cada chat preview-->
        <div class="chatWindow row">
          <div class="colWindow col-12">
            <img src="http://gaia.adage.com/images/bin/imgstore/work/print/g/i/r/GirlsWhoCode_Beauty16.jpg" class="rounded-circle imgChat col-3 "
              alt="Cinque Terre">
            <div class="pNombre col-7">

              <div class="row">
                <div class="col-12">
                  <p class="pNombre col-12" style="font-weight: bold;">Amaranta Salcedo</p>
                  <p class="pNombre col-12" style="color:gray;">Tu: jajaja sii!! </p>
                </div>
              </div>

            </div>
            <!--Hora-->
            <div class="col-2">
              <p class="pNombre ">13:35</p>
              <img src="http://gaia.adage.com/images/bin/imgstore/work/print/g/i/r/GirlsWhoCode_Beauty16.jpg" class="rounded-circle" alt="Cinque Terre"
                style="width:20px; height: 20px;">
            </div>

          </div>
        </div>
        <!--Termina template-->

        <!--Nuevo Row contenedor de cada chat preview-->
        <div class="chatWindow row">
          <div class="colWindow col-12">
            <img src="http://www.schwarzkopf.international/content/dam/schwarzkopf/international/en/brands/men_perfect/home/thumbnails/men_perfect_com_thumbnails_home_pack_400x400.jpg"
              class="rounded-circle imgChat col-3 " alt="Cinque Terre">
            <div class="pNombre col-7">

              <div class="row">
                <div class="col-12">
                  <p class="pNombre col-12" style="font-weight: bold;">Jhon Travolta</p>
                  <p class="pNombre col-12" style="color:gray;">Tu: ;D!! </p>
                </div>
              </div>

            </div>
            <!--Hora-->
            <div class="col-2">
              <p class="pNombre ">21:05</p>
              <img src="http://www.schwarzkopf.international/content/dam/schwarzkopf/international/en/brands/men_perfect/home/thumbnails/men_perfect_com_thumbnails_home_pack_400x400.jpg"
                class="rounded-circle" alt="Cinque Terre" style="width:20px; height: 20px;">
            </div>

          </div>
        </div>
        <!--Termina template-->

        <!--Nuevo Row contenedor de cada chat preview-->
        <div class="chatWindow row">
          <div class="colWindow col-12">
            <img src="http://cdn.playbuzz.com/cdn//f25fab81-068a-4eb2-83bc-5ab3fdae66d5/7dec3cb0-9b47-44e8-927f-360d0034c3ea.jpg" class="rounded-circle imgChat col-3 "
              alt="Cinque Terre">
            <div class="pNombre col-7">

              <div class="row">
                <div class="col-12">
                  <p class="pNombre col-12" style="font-weight: bold;">Amaranta Salcedo</p>
                  <p class="pNombre col-12" style="color:gray;">Tu: jajaja sii!! </p>
                </div>
              </div>

            </div>
            <!--Hora-->
            <div class="col-2">
              <p class="pNombre ">13:35</p>
              <img src="http://cdn.playbuzz.com/cdn//f25fab81-068a-4eb2-83bc-5ab3fdae66d5/7dec3cb0-9b47-44e8-927f-360d0034c3ea.jpg" class="rounded-circle"
                alt="Cinque Terre" style="width:20px; height: 20px;">
            </div>

          </div>
        </div>
        <!--Termina template-->

        <!--Nuevo Row contenedor de cada chat preview-->
        <div class="chatWindow row">
          <div class="colWindow col-12">
            <img src="https://s7d1.scene7.com/is/image/PETCO/puppy-090517-dog-featured-355w-200h-d" class="rounded-circle imgChat col-3 "
              alt="Cinque Terre">
            <div class="pNombre col-7">

              <div class="row">
                <div class="col-12">
                  <p class="pNombre col-12" style="font-weight: bold;">Raul!!!!!</p>
                  <p class="pNombre col-12" style="color:gray;">Raul: Donde esta Maricela??? </p>
                </div>
              </div>

            </div>
            <!--Hora-->
            <div class="col-2">
              <p class="pNombre ">13:35</p>
              <img src="https://s7d1.scene7.com/is/image/PETCO/puppy-090517-dog-featured-355w-200h-d" class="rounded-circle" alt="Cinque Terre"
                style="width:20px; height: 20px;">
            </div>

          </div>
        </div>
        <!--Termina template-->

        <!--Nuevo Row contenedor de cada chat preview-->
        <div class="chatWindow row">
          <div class="colWindow col-12">
            <img src="https://scontent.fntr3-1.fna.fbcdn.net/v/t1.0-9/35887028_1985186404887432_6777899129747013632_n.jpg?_nc_cat=0&oh=87f64e221f6a41280269215582331dc0&oe=5BDA0243"
              class="rounded-circle imgChat col-3 " alt="Cinque Terre">
            <div class="pNombre col-7">

              <div class="row">
                <div class="col-12">
                  <p class="pNombre col-12" style="font-weight: bold;">Maricela Rmz Ortiz</p>
                  <p class="pNombre col-12" style="color:gray;">Maricela: Adrian, amo a RAUL u.u </p>
                </div>
              </div>

            </div>
            <!--Hora-->
            <div class="col-2">
              <p class="pNombre ">13:35</p>
              <img src="https://scontent.fntr3-1.fna.fbcdn.net/v/t1.0-9/35887028_1985186404887432_6777899129747013632_n.jpg?_nc_cat=0&oh=87f64e221f6a41280269215582331dc0&oe=5BDA0243"
                class="rounded-circle" alt="Cinque Terre" style="width:20px; height: 20px;">
            </div>

          </div>
        </div>
        <!--Termina template-->

        <!--Nuevo Row contenedor de cada chat preview-->
        <div class="chatWindow row">
          <div class="colWindow col-12">
            <img src="https://scontent.fntr3-1.fna.fbcdn.net/v/t1.0-9/35887028_1985186404887432_6777899129747013632_n.jpg?_nc_cat=0&oh=87f64e221f6a41280269215582331dc0&oe=5BDA0243"
              class="rounded-circle imgChat col-3 " alt="Cinque Terre">
            <div class="pNombre col-7">

              <div class="row">
                <div class="col-12">
                  <p class="pNombre col-12" style="font-weight: bold;">Maricela Rmz Ortiz</p>
                  <p class="pNombre col-12" style="color:gray;">Maricela: Adrian, amo a RAUL u.u </p>
                </div>
              </div>

            </div>
            <!--Hora-->
            <div class="col-2">
              <p class="pNombre ">13:35</p>
              <img src="https://scontent.fntr3-1.fna.fbcdn.net/v/t1.0-9/35887028_1985186404887432_6777899129747013632_n.jpg?_nc_cat=0&oh=87f64e221f6a41280269215582331dc0&oe=5BDA0243"
                class="rounded-circle" alt="Cinque Terre" style="width:20px; height: 20px;">
            </div>

          </div>
        </div>
        <!--Termina template-->

        <!--Nuevo Row contenedor de cada chat preview-->
        <div class="chatWindow row">
          <div class="colWindow col-12">
            <img src="https://scontent.fntr3-1.fna.fbcdn.net/v/t1.0-9/35887028_1985186404887432_6777899129747013632_n.jpg?_nc_cat=0&oh=87f64e221f6a41280269215582331dc0&oe=5BDA0243"
              class="rounded-circle imgChat col-3 " alt="Cinque Terre">
            <div class="pNombre col-7">

              <div class="row">
                <div class="col-12">
                  <p class="pNombre col-12" style="font-weight: bold;">Maricela Rmz Ortiz</p>
                  <p class="pNombre col-12" style="color:gray;">Maricela: Adrian, amo a RAUL u.u </p>
                </div>
              </div>

            </div>
            <!--Hora-->
            <div class="col-2">
              <p class="pNombre ">13:35</p>
              <img src="https://scontent.fntr3-1.fna.fbcdn.net/v/t1.0-9/35887028_1985186404887432_6777899129747013632_n.jpg?_nc_cat=0&oh=87f64e221f6a41280269215582331dc0&oe=5BDA0243"
                class="rounded-circle" alt="Cinque Terre" style="width:20px; height: 20px;">
            </div>

          </div>
        </div>
        <!--Termina template-->

        <!--Nuevo Row contenedor de cada chat preview-->
        <div class="chatWindow row">
          <div class="colWindow col-12">
            <img src="https://scontent.fntr3-1.fna.fbcdn.net/v/t1.0-9/35887028_1985186404887432_6777899129747013632_n.jpg?_nc_cat=0&oh=87f64e221f6a41280269215582331dc0&oe=5BDA0243"
              class="rounded-circle imgChat col-3 " alt="Cinque Terre">
            <div class="pNombre col-7">

              <div class="row">
                <div class="col-12">
                  <p class="pNombre col-12" style="font-weight: bold;">Maricela Rmz Ortiz</p>
                  <p class="pNombre col-12" style="color:gray;">Maricela: Adrian, amo a RAUL u.u </p>
                </div>
              </div>

            </div>
            <!--Hora-->
            <div class="col-2">
              <p class="pNombre ">13:35</p>
              <img src="https://scontent.fntr3-1.fna.fbcdn.net/v/t1.0-9/35887028_1985186404887432_6777899129747013632_n.jpg?_nc_cat=0&oh=87f64e221f6a41280269215582331dc0&oe=5BDA0243"
                class="rounded-circle" alt="Cinque Terre" style="width:20px; height: 20px;">
            </div>

          </div>
        </div>
        <!--Termina template-->

      </div>
      <!--Termina row contenedor de los chatPreview-->
    </div>




  </div>
</div>