<div class="row">

  <!-- Contenedor para el titulo -->
  <div class="col-md-12 titlecontainer">
    <div class="row">
      <label class="col-md-12">Soy el titulo</label>
    </div>
  </div>

  <!-- Contenedor solo chat -->
  <div class="col-md-8 bodycontainer">
    <div class="row">
      <app-inbox></app-inbox>
    </div>
  </div>

  <!-- Contenedor solo detalle de chat -->
  <div class="col-md-4 bodycontainer" style="background-color: rgb(232, 139, 250);">
    <div class="row">
      <app-detail class="col-md-12"></app-detail>
    </div>
  </div>
  <button (click)="mostrartexto()" class="btn btn-info">Voy a cambiar el texto </button>
  <p>{{Texto}}</p>

</div>