<div class="row">

  <!-- Contenedor para el titulo -->
  <div class="col-md-12 titlecontainer" style="border: .2px solid rgb(199, 199, 199);">
    <div class="row text-center">
      <label class="col-12 text-center title">{{ nombre }}</label>
      <label class="col-12 text-center subtitle">Activo(a) en Messenger</label>
    </div>
  </div>

  <!-- Contenedor solo chat -->
  <div class="col-md-8 bodycontainer">
    <div class="row">
      <app-inbox class="col-md-12"></app-inbox>
    </div>
  </div>

  <!-- Contenedor solo detalle de chat -->
  <div class="col-md-4 bodycontainer" style="border: .2px solid rgb(199, 199, 199);">
    <div class="row">
      <app-detail class="col-md-12"></app-detail>
    </div>
  </div>

</div>