<!-- Este es el contenedor general -->
<div class="container-fluid">
  <div class="row" style="height: 100vh;">
    
    <!-- Contenedor para el historial de mensajes -->
    <div class="col-md-3" style="background-color:aqua;">
      <app-history></app-history>
    
    </div>
    <!-- Contenedor para el chat o inbox -->
    <div class="col-md-6">
      <app-inbox></app-inbox>
    </div>

    <!-- Contenedor para el detache del chat -->
    <div class="col-md-3" style="background-color: rebeccapurple;">
      <app-detail></app-detail>
    </div>

  </div>
</div>